<%= link_to "/lists/#{@post.id}/create",
            method: :post,
            class: 'list',
            remote: true do %>
  <% if current_user == @post.user %>
    <div class="list-btn-list"><i class="fas fa-list-alt"></i> 行ったリストに追加する</div>
  <% else %>
    <div class="list-btn-list"><i class="fas fa-utensils"></i> 行きたいリクエストを送る</div>
  <% end %>
<% end %>
